//main: main.less
@media screen and (min-width: 1025px) {
    /*Ajuste de logo al momento de hacer scroll*/
    .whb-sticked .whb-general-header .woodmart-logo img {
        transform: scale(1.6) translateY(11px);
    }
}

/*@media screen and (orientation:portrait) {
    
}
@media screen and (orientation:landscape) and (max) {
    
}*/

@media screen and (max-width: 750px) {
    /*Esquema por defecto para las secciones*/
    .grid {
        .col {
            width: 100%;
        }
        .col2 {
            width: 100%;
        }
        
        &.invertido{
            flex-wrap: wrap-reverse;
        } 
    }
    
            .btn {
                padding: 15px 90px;
                margin-left: 25px;
            }

    

    .template-section {
        .col {
            min-height: auto;
            padding: 20px;
        }
    }
    /* Home */
    #tipo_acuario {
       position: relative;
        z-index: 100;
        padding-top: 100px;
        h2 {
            text-align: center;
            position: relative;
            left: 50px;
            margin-bottom: 50px;
            i {
                position: relative;
                left: -50px;
            }
        }
        
        .caracteristicas1, .caracteristicas2 {
            img {
                right: 0px;
                left: 0px;
                position: relative;
            }
            h3 {
                text-align: center;
            }

            p {
                    text-align: justify;
                margin-left: 0;
                margin-right: 0;
                left: 0;
            }
            
        }
    }
    #contacto {
        .datos {
    margin-bottom: 10px;
    margin-left: 30px;
            }
   .siguenos span {
    padding-right: 10px;
    margin-left: 30px;
        }
    }
        
        #acerca_de {
            h2 {
                position: relative;
                padding-top: 40px;
                left: -50px;
                margin-bottom: 0px;
                text-align: center;
            }
             p {
                position: relative;
                left: 0px;
                padding-top: 30px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
}

